doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Project
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="libs/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="libs/owl.carousel/dist/assets/owl.theme.default.min.css")
        link(href="css/libs.min.css" rel='stylesheet')
        link(href="css/main.css" rel='stylesheet')
    body
        block pageContent
        script(src="js/libs.min.js")
        script(src="js/main.js")

