header.header
	.header-lines
	.header__wrapper
		.header-logo
			include ../../img/logo.svg
		.header-logotwo
			include ../../img/logotwo.svg
		.header-find__box
			.header-find
				input(type="text" placeholder="Hae tuotteita")
				include ../../img/input-find.svg
		.header-user
			include ../../img/user.svg
			p Kirjaudu sisään
		.header-shop
			include ../../img/cart.svg
			p Ostoskori (1)
	hr
	.header__wrapper.header__wrapper--nav
		nav.header__nav
			ul.header__nav-items
				li.header__nav-item
					a(href="javascript:void(0);") Vaatteet
				li.header__nav-item
					a(href="javascript:void(0);") Koti
				li.header__nav-item
					a(href="javascript:void(0);") Kankaat
				li.header__nav-item
					a(href="javascript:void(0);") Kaavat
				li.header__nav-item
					a(href="javascript:void(0);") Ompelutarvikkeet
				li.header__nav-item
					a(href="javascript:void(0);") Lahjakortti
				li.header__nav-item
					a(href="javascript:void(0);") Tarjoukset
				li.header__nav-item
					a(href="javascript:void(0);") Yrityksille
	hr